// Cores
$header_background_mobile: #15191C;
$header_background_desktop: #1D232A;
$menu_lateral_color: #15191C;
$card_color: #2C343A;
$fonte_color: #FFFFFF;
$fonte_alternativa_color: #95999C;
$botao_color: #0480DC;
$links_color: #0480DC;
$shadows: 0px 4px 4px rgba(0, 0, 0, 0.16);
// Espaçamentos
$botao_padding: 0.5rem;
$botao_margin: 0.5rem;
$elements_margin: 1rem 0.5rem;
$card_title_margin_bottom: 1.5rem;
// Tamanhos
$mobile_width: 360px;
$desktop_width: 1024px;
$max_content_width: 1120px;
$desktop_card_max_width: 256px;
$card_min_height: 320px;
// Icones
$icone_camisas: "\e900";
$icone_carrinho: "\e901";
$icone_inicio: "\e902";
$icone_integrantes: "\e903";
$icone_menu: "\e904";
$icone_moeda: "\e905";
$icone_notificacao: "\e906";
$icone_pico: "\e908";
$icone_picos: "\e909";
$icone_pinturas: "\e90a";
$icone_play: "\e90b";
$icone_relogio: "\e90c";
$icone_seta_baixo: "\e90d";
$icone_videos: "\e90e";
$icone_visualizacao: "\e90f";